/*Marco Kühn*/
* {
   -fx-dark-background-color: #3E415F;

   -fx-darkest-background-color: #2B2D42;

   -fx-bright-background-color: #8D99AE;
   -fx-brighter-background-color: #ff5555;
   -fx-brightest-background-color: #ffffff;

   -fx-bright-border-color: #B0B0B0;
   -fx-brighter-text-color: #ffffff;
}

GridPane{
    -fx-background-color: -fx-dark-background-color;
    -fx-padding: 20px;
    -fx-font-size: 20px;
    -fx-font-family: Segoe UI;

    -fx-border-insets: 1;
    -fx-border-color: -fx-bright-border-color;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
}

Label{
    -fx-text-fill: -fx-brighter-text-color;
    -fx-max-width: 150px;
    -fx-min-width: 150px;
}

.mainLabel{
    -fx-background-color: -fx-bright-background-color;
    -fx-padding: 10px;
    -fx-max-width: 200px;
    -fx-min-width: 200px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.inputField{
    -fx-padding: 10px;
    -fx-background-color: -fx-brightest-background-color;
}

.mainButton{
    -fx-font-weight: bold;
    -fx-background-color: -fx-brightest-background-color;
}

JFXButton{
    -fx-background-color: -fx-brightest-background-color;
}

#labelError{
    -fx-font-weight: bold;
    -fx-max-width: 1000px;
    -fx-text-fill: -fx-brighter-background-color;
    -fx-padding: 16px;
    -fx-min-height: 140px;
    -fx-max-height: 400px;
    -fx-wrap-text: true;
    -fx-font-size: 16px;
}

.inputDate{
    -fx-background-color: -fx-brightest-background-color;
}

.comboBox{
    -fx-background-color: -fx-brightest-background-color;
}

.timePicker{
    -fx-background-color: -fx-brightest-background-color;
}

.jfx-time-picker .date-picker-popup{
    -fx-max-width: 230px;
    -fx-min-width: 230px;
}

.jfx-time-picker .date-picker-popup > * > .spinner > .label {
    -fx-max-width: 55px;
    -fx-min-width: 55px;
}

.jfx-date-picker .date-picker-popup > * > .spinner > .label {
     -fx-max-width: 300px;
     -fx-min-width: 300px;
 }