GridPane{
    -fx-background-color: #3E415F;
    -fx-padding: 20px;
    -fx-font-size: 20px;
    -fx-font-family: Segoe UI;

    -fx-border-insets: 1;
    -fx-border-color: #B0B0B0;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
}

Label{
    -fx-text-fill: white;
    -fx-max-width: 150px;
    -fx-min-width: 150px;
}

.mainLabel{
    -fx-background-color: #8D99AE;
    -fx-padding: 10px;
    -fx-max-width: 200px;
    -fx-min-width: 200px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.inputField{
    -fx-padding: 10px;
}

.mainButton{
    -fx-font-weight: bold;
}