* {
   -fx-dark-background-color: #525E74;
   -fx-darkest-background-color: #2B2D42;

   -fx-bright-background-color: #77859E;
   -fx-brighter-background-color: #52567E;
   -fx-brightest-background-color: #ffffff;

   -fx-bright-border-color: #B0B0B0;
   -fx-brighter-text-color: #ffffff;

}

.mainGrid{
    -fx-background-color: -fx-darkest-background-color;
}

.mainVbox{
    -fx-background-color: -fx-dark-background-color;
}

.gridCalendar Line{
    -fx-stroke: -fx-bright-border-color;
}

.gridCalender{
        -fx-background-color: -fx-darkest-background-color;
        -fx-min-height: 80px;
        -fx-max-height: 80px;
}

.labelMonth{
    -fx-padding: 0 0 0 20;
    -fx-background-color: -fx-bright-background-color;
    -fx-font-size: 35px;
    -fx-font-weight: bold;
}

.scrollDays{
    -fx-background-color: -fx-darkest-background-color;
    -fx-border-color: -fx-bright-border-color;
}

.vBoxDays{
    -fx-background-color: -fx-darkest-background-color;
}

.labelDays{
    -fx-alignment: center;
    -fx-background-color: -fx-dark-background-color;
    -fx-font-size: 25px;
    -fx-border-color: -fx-bright-border-color;
}

Label{
    -fx-text-fill: -fx-brighter-text-color;
}

.event{
    -fx-background-color: -fx-dark-background-color;
}

.mainBtn{
    -fx-background-color: -fx-brightest-background-color;
    -fx-text-fill: -fx-brighter-text-color;
    -fx-background-radius: 5em;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
}

