/*Alex Rechtin*/
* {
  -fx-dark-background-color: #3E415F;
  -fx-bright-border-color: #B0B0B0;
  -fx-brighter-text-color: #ff5555;
  -fx-brightest-text-color: #ffffff;
}


GridPane{
    -fx-background-color: -fx-dark-background-color;
    -fx-padding: 20px;
    -fx-font-size: 20px;
    -fx-font-family: Segoe UI;

    -fx-border-insets: 1;
    -fx-border-color: -fx-bright-border-color;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
}

.mainLabel{
    -fx-padding: 10px;
    -fx-max-width: 400px;
    -fx-min-width: 400px;
    -fx-font-weight: bold;
    -fx-alignment: top-center;
}


Label{
    -fx-text-fill: -fx-brightest-text-color;
    -fx-max-width: 150px;
    -fx-min-width: 150px;
}

.textField{
    -fx-max-width: 400px;
    -fx-min-width: 400px;
}

.errorMessage{
    -fx-max-width: 400px;
    -fx-min-width: 400px;
    -fx-text-fill: -fx-brighter-text-color;
}

Button{
    -fx-max-width: 150px;
    -fx-min-width: 150px;
}

.btnLogin{
    -fx-font-weight: bold;
}

