GridPane{
    -fx-background-color: #282C34;
}

Label{
    -fx-text-fill: white;
}

.main-btn{
    -fx-background-color: #ffffff;
    -fx-text-fill: white;
    -fx-background-radius: 5em;
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
}